body {
    background: url('assets/landing/background.png') no-repeat center center fixed;
    background-size: cover;
    color: black;
}

.stApp {
    background: url('assets/landing/background.png') no-repeat center center fixed;
    background-size: cover;
}

.stAppHeader {
    display: none;
}

footer {
    visibility: hidden;
}

section[data-testid="stSidebar"] {
    min-width: 70px !important;
    max-width: 50px !important;
    background-color: #002C6C !important;
    overflow: hidden;
    transition: max-width 0.3s ease-in-out;
}

section[data-testid="stSidebar"]:hover {
    max-width: 250px !important;
}

h1 {
    color: #002C6C !important;
    text-align: center;
}

.stChatInputContainer textarea {
    height: 150px !important;
}

.stChatMessage {
    background: none !important;
}

div[data-testid="stBottomBlockContainer"] {
    display: none !important;
}

.centered-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.centered-input {
    width: 450px !important;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
